/* apply a natural box layout model to all elements -- http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
div { margin: 0; padding: 0; }

body {
  font:14px/1.3 sans-serif;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  text-shadow: 0 1px 1px #000;
  background-color: #222;
  color: #777;
  padding: 0;
  margin: 0;
}

form.search {
  padding: 5px;
  height: 50px;
  display: block;
  margin: 0;
}

.search-box {
  overflow: hidden;
  padding: 0 5px 0 0;
}
input[type=search] {
  width: 100%;
  padding: 3px 9px;
  margin: 5px 0;
  font-size: 18px;
}
a.view_mode { float: right; padding: 4px; }

.swipe-gallery {
  list-style-type: none;
  margin: 5px auto 0 auto;
  padding: 0;
}

.swipe-gallery li {
  text-indent: 0;
  margin: 0;
  padding: 7px;
  float: left;
}

.search-results {
  // padding: 7px 5px;
}

.search-list, .search-list li {
  width: 100%;
  background-color: #ccc;
  color: #111;
  text-shadow: 0 1px 1px #ddd;
}

.medium { width: 300px; height: 340px; overflow-x: hidden; overflow-y: scroll; }
.medium img { margin: 0 auto; border: 1px solid #111; }

h2 { font-size: 16px; }

.img-list {
  display: block;
  width: 32px; height: 32px;
  background-image: url(/img/list-32px.png);
}
.img-grid {
  display: block;
  width: 32px; height: 32px;
  background-image: url(/img/grid-32px.png);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .img-list {
    background-image: url(/img/list-72px.png);
    background-size: 32px 32px;
  }
  .img-grid {
    background-image: url(/img/grid-72px.png);
    background-size: 32px 32px;
  }
}
