<div id='slider'>
  <ul>
    <li style='display:block'></li>
    <li style='display:none'></li>
    <li style='display:none'></li>
    <li style='display:none'></li>
    <li style='display:none'></li>
  </ul>
</div>
