%ul#swipe-gallery
  - @search_results.each do |item|
    - item.images.each do |image|
      %li
        %a{:href => image.url}
          %img{:src => image.thumbnail_square_url, :alt => item.name('en')}
