.search-results.search-list
  %ul.swipe-gallery
    - @search_results.each do |item|
      %li.search-result
        = haml :names, {}, :item => item
        .metadata
          = haml :rating, {}, :item => item
          - item.taxon_ranks.each do |taxon_rank|
            %span.tag.taxon-rank #{taxon_rank.downcase}
        / %p= item.content
        .image-list
          - item.images.each_with_index do |image, index|
            %a.img{:class => ('only-in-gallery-mode' if index > 11), :href => image.url}
              %img{:src => image.thumbnail_url(:square), :title => image.title, :alt => item.names(@langs, ' | '), :width => 69, :height => 69}
